@import url('https://fontlibrary.org/en/face/jellee-typeface');

.container {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100vh;
    border-radius: 25px;
    
    
  }

.leftSide {
    flex-grow: 1;
    background-image: url(/baseball.jpg);
    flex-wrap: wrap;
    
}

.logoBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 40%;
    padding: 10px;
    
}

.icon {
    width: 75px;
    height: 75px;
    

}

p.title {
    font-family: 'JelleeBold';
    color: white;
    font-size: 100%;
    padding: 5px;
    
}

.rightSide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 25px;
    flex-basis: 50%;

}

.signUpForm {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

fieldset {
    flex-basis: 200px;
}