@import url('https://fontlibrary.org/en/face/jellee-typeface');

* {
    border: 1px solid black;
}

.container {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 100vh;
    border-radius: 25px;
    background-color: bisque;
    
    
  }

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    background-image: url(/baseball.jpg);
    background-size: contain;
    
    
}

.leftSide p {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);

}

.leftSide a {
    color: red;
}

.logoBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 40%;
    padding: 10px;
      
}

.icon {
    width: 75px;
    height: 75px;
    
}

p.title {
    font-family: 'JelleeBold';
    color: white;
    font-size: 3em;
    padding: 5px;
    
}

.rightSide {
    font-family: 'JelleeBold';
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: space-around;
    margin: 25px;
    flex-basis: 50%;
    
    

}

.introCopy p {
    font-family: 'Courier New', Courier, monospace;
}

.introCopy h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    border-radius: 25px;
    background-color: azure;
    box-shadow: 5px 5px greenyellow;
    
}

.formFields {
    margin: 10px;
   
}



.submitSection {
    font-family: 'Courier New', Courier, monospace;
}

button {
    color: white;
    background-color: darkorchid;
    border-radius: 25px;
    box-shadow: 2px 2px greenyellow;
    padding:10px;
    min-height:30px; 
    min-width: 120px;
    font-weight: bold;
}




